header.tools-api-doc  {
    padding:0 0 5px 0;
    border-bottom:1px solid #bbb;
    margin:0 0 5px 0;
}
.tools-api-doc-container {
    font-size:15px;
    font-weight:bold;
    font-style:italic;
    margin:0 0 5px 0;
    display:block;
    clear:left;
}
article.tools-api-doc {
    margin:5px 10px;
    background:#fff;
    padding:10px 20px 10px 15px;
    border-radius:5px;
    max-width:800px;
    border:1px solid #D8D8D8;;
    overflow:hidden;
    -webkit-box-shadow: 2px 2px 6px #888;
    -moz-box-shadow: 2px 2px 6px #888;
    box-shadow: 2px 2px 6px #888;
}
section.tools-api-doc {
    clear:left;
    margin:0 10px 7px 10px;
}
h1.tools-api-doc {
    font-size:16px;
    margin:0 0 4px 0;
}
h2.tools-api-doc {
    font-size:14px;
    font-style:italic;
    margin:0 0 3px 0;
    display:inline-block;
    cursor:pointer;
}
h3.tools-api-doc {
    font-size:12px;
    margin:3px 0;
}
pre.tools-api-doc {
    margin:0 0 7px 0;
    color:#72C258;
}
span.tools-api-doc-required {
    display: inline-block;
    margin:0 0 0 -11px;
    color:red;
    font-weight:bold;
    float:left;
    font-size:10px;
}
.article-tools-api-doc .schema-type-tools-api-doc{
    color:#aaa;
}
.tools-api-doc-value {
    color:#C0C0C0;
    font-size:14px;
    font-style:italic;
    margin:0 0 3px 0;
    display:inline-block;
    cursor:pointer;
}